In [32]:
import pandas as pd

In [33]:
dataset_path = "C:/Users/Jatin/Downloads/Major Project/Dataset/Fake Review/deceptive-opinion.csv"

In [34]:
df = pd.read_csv(dataset_path)

In [35]:
df.head()

,opinion,hotel,polarity,source,review
0,truthful,conrad,positive,TripAdvisor,We stayed for a one night getaway with family ...
1,truthful,hyatt,positive,TripAdvisor,Triple A rate with upgrade to view room was le...
2,truthful,hyatt,positive,TripAdvisor,This comes a little late as I'm finally catchi...
3,truthful,omni,positive,TripAdvisor,The Omni Chicago really delivers on all fronts...
4,truthful,hyatt,positive,TripAdvisor,I asked for a high floor away from the elevato...

In [36]:
df["hotel"].value_counts()

sheraton            80
homewood            80
omni                80
talbott             80
palmer              80
swissotel           80
sofitel             80
knickerbocker       80
hyatt               80
monaco              80
james               80
amalfi              80
intercontinental    80
hilton              80
ambassador          80
conrad              80
allegro             80
hardrock            80
fairmont            80
affinia             80
Name: hotel, dtype: int64

In [37]:
df.drop("source", inplace = True, axis = 1)
df.head()

,opinion,hotel,polarity,review
0,truthful,conrad,positive,We stayed for a one night getaway with family ...
1,truthful,hyatt,positive,Triple A rate with upgrade to view room was le...
2,truthful,hyatt,positive,This comes a little late as I'm finally catchi...
3,truthful,omni,positive,The Omni Chicago really delivers on all fronts...
4,truthful,hyatt,positive,I asked for a high floor away from the elevato...

In [38]:
train_df = pd.DataFrame(columns = ["opinion", "hotel", "polarity", "review"])
test_df = pd.DataFrame(columns = ["opinion", "hotel", "polarity", "review"])

grouped1 = df.groupby("polarity")
for _, polar_group in grouped1:
    grouped2 = polar_group.groupby("opinion")
    for _, polar_opinion_group in grouped2:
        grouped3 = polar_opinion_group.groupby("hotel")
        for _, req_df in grouped3:
            req_df = req_df.sample(frac=1).reset_index(drop=True)
            train = req_df.iloc[:15]
            test = req_df.iloc[15:]
            train_df = train_df.append(train)
            test_df = test_df.append(test)
            

train_df.reset_index(inplace = True, drop = True)
test_df.reset_index(inplace = True, drop = True)

In [39]:
print(train_df.shape)
print(test_df.shape)

(1200, 4)
(400, 4)

In [41]:
train_df.to_csv("C:/Users/Jatin/Downloads/Major Project/Dataset/Fake Review/train.csv", sep = ",", index = False)
test_df.to_csv("C:/Users/Jatin/Downloads/Major Project/Dataset/Fake Review/test.csv", sep = ",", index = False)